.title{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 100px 100px;
  margin-left: 700px;
  margin-top: -400px
}
.section{
  display: flex;
  align-items: center;

}
.container{
  background-color: rgb(255, 255, 255);
  border: solid 15px black;
  border-radius: 20px;
  width: 1000px;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 600px;
}
.img{
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}